/* color */
$vxe-primary-color: #0066ff;
$vxe-success-color: #18a058;
$vxe-info-color: #34495e;
$vxe-warning-color: #f0a020;
$vxe-danger-color: #d03050;

/* size */
// $vxe-border-radius: 12px;

/* table */
$vxe-table-border-color: #e5e7eb;
$vxe-table-header-background-color: #fafafc;

@import 'vxe-table/styles/index.scss';
