@import './themes.scss';

@mixin themeify {

  // 默认主题的样式
  &:not([data-theme]) {
    $theme-map: map-get($themes, 'light') !global;
    @content;
  }
  @each $theme-name, $theme-map in $themes {
    // 提升局部变量到全局变量
    $theme-map: $theme-map !global;

    // 定义混合器插槽
    [data-theme='#{$theme-name}'] & {
      @content;
    }
  }
}

// 从 $theme-map 中获取颜色
@function theme-color($key) {
  @return map-get($theme-map, $key);
}

// 设置背景颜色
@mixin bg-color($key) {
  @include themeify {
    background-color: theme-color($key);
  }
}

// 设置文本颜色
@mixin text-color($key) {
  @include themeify {
    color: theme-color($key);
  }
}
