// login color
$rify-login-card-bgColor: #fff;
$rify-login-card-dark-bgColor: #252529;
$rify-login-card-img-bgColor: #f0f0f0;
$rify-login-card-img-dark-bgColor: #515159;
$rify-login-card-title-color: #212529;
$rify-login-card-title-dark-color: #f1f3f5;
